/** style **/
body {
    
    line-height: 1.5;
    font-family: 'Baskerville', serif;
    text-align: center;
    color: #ffc787;
    font-size: 23px;
    background: #693001;
   


        }

  /* Pour la barre de navigation */
  
    /* Pour image du logo */
  .logo {
    width: 333px;
    height: 150px;
    margin-bottom:  10px;
    object-fit: fill;
  }

   /* Pour l'image a laccueil */

  

  /* Mettre en horizontale et les espacers */
  .nav{
    min-height: 50px;
    min-width: 1000px;
    font-size: larger;
    font-size: 23px;
   
  
    
  }

  nav ul li {
    display: inline-block;
   

  
  }

  /* Mettre en blanc et enlever les surlignement */

  nav ul li a {
    
    text-decoration: none;
    color: #ffc788;
    border-width: 10px;
    padding: 22px 55px;
    border-radius: 20px;
    
  }
  
   /* survole et sa donne un vert/jaune */
      
  .nav a:hover {
    color: #fffabb;
    background-color: #4d2403;
  }

  .image-container {
   
    position: relative;
    display: inline-block;
   
  
  }
  .accueil {
    width: 1080px;
    height: 600px;
 
  }

  .image-container img {
    display: block;
    max-width: 100%;   
  }

  .image-container .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffc788;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  
 
  }
  
  input{
    background-color:#ffc788 ;
    border-radius: 10px;
  }
  textarea{
    background-color:#ffc788 ;
    border-radius: 10px;
  }

  img{
    margin-top: 15px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
  }



  .gauche {
    position:relative;

    float: left;    
     margin: 15px 15px 15px 15px;
    
  }
  .droite {
       position:relative;
    float: right;    
    margin: 15px 15px 15px 15px;
    
  }



/** POUR CENTRER LE PORTFOLIO**/
table{
  margin-left: auto;
  margin-right: auto;
}
tr td {
  padding: 33px;
  color: #693001;
  font-family: 'Baskerville', serif;
  background-color:#ffc787;
  border-radius: 10px;


}

.propos {
    margin-left: 100px;
    margin-right: 100px;
  
}
a {
  text-decoration: none;
  color: #ffc788;
}

.reglement {

  border: 10px #4d2403 solid;
  background-color: #4d2403 ;
  padding: 0px;
  margin: 100px 550px;
  border-radius: 10px;

}

.reglement h2{
  font-style: italic;
}
.reglement ul{
list-style: none;

}

