/** style **/
* {
  margin: 0;
  padding: 0;
  color: rgb(243, 227, 217);
  font-size: 20px;
  font-family: 'Baskerville', sans-serif;
  text-align: center;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/** PAGE ACCUEIL **/

body {
  background-color: black;
}

footer a {
  margin-top: 10px;
  padding-bottom: 30px;
}

footer p {
  font-size: 15px;
  margin-bottom: 10px;
}

footer img {
  background-color: #fff9f9;
  border-radius: 13px;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.bodyaccueil {
  width: 100%;
  height: 100vh;
  background-image: url(une_brosse.jpg);
  background-position: center;
  background-size: contain;
}

.accueil h2 {
  color: #fff9f9;
  font-weight: bold;
  font-size: 80px;
  margin-top: 230px;
  margin-bottom: 390px;
}

/* Pour la barre de navigation */

/* Pour image du logo */
.logo {
  margin-left: 50px;
  margin-top: 50px;
  height: 75px;
  object-fit: fill;
  float: left;
  margin-right: 230px;
}

/* Pour l'image a l'accueil */

/* Mettre en horizontale et les espacers */

.nav {
  min-height: 50px;
  font-size: larger;
  font-size: 23px;
}

nav ul li {
  margin: 60px 30px;
  display: inline-block;
}

/* Mettre en blanc et enlever les surlignements */

nav ul li a {
  text-decoration: none;
  font-family: 'Baskerville', serif;
  font-weight: bold;
  border-width: 10px;
  padding: 22px 55px;
  border-radius: 20px;
}

/* survole*/

.nav a:hover {
  color: #ffffff;
  text-decoration: underline;
  background-color: rgba(24, 21, 18, 0.7);
}

/* Page a propos */

.apropos {
  background-image: url(entrainMaquiller.jpg);
  background-position: center;
  background-size: cover;
  background-color: black;
}

.propos {
  margin-top: 5px;
}

img {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.gauche {
  position: relative;
  float: left;
  margin: 55px 55px 55px;
  border-radius: 13px;
  background-color: rgba(24, 21, 18, 0.7);
}

.droite {
  position: relative;
  float: right;
  margin: 33px 15px 15px 15px;
  border-radius: 13px;
}

p {
  margin: 35px;
  text-align: center;
  font-size: 22px;
}

.propos h2 {
  margin: 35px;
  font-size: 33px;
  font-style: italic;
}

.ordonnee {
  display: block;
}

.ordonnee a {
  text-decoration: none;
}

.ordonnee ol {
  padding-left: 250px;
  margin-top: 33px;
}

ol a:hover {
  text-decoration: underline;
  background-color: rgba(75, 57, 39, 0.7);
  border-radius: 13px;
  padding: 13px;
  text-align: center;
}

.ordonnee li {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

/* Page Service */

legend {
  font-size: 1.25em;
  padding: 0 .25em;
}

.services {
  margin-left: 80px;
}

.reglement {
  background-color: rgba(24, 21, 18, 0.7);
  float: left;
  margin-top: 20px;
  margin-right: 33px;
  padding: 90px;
  border-radius: 13px;
  height: 660px;
}

fieldset {
  height: 860px;
  width: 900px;
  text-align: left;
}

.formulaire label,
textarea,
input {
  text-align: left;
  display: block;
  border-radius: 13px;
}

ul {
  list-style-type: none;
}

/** pour que le nom et prenom (label) soit a cote**/
.nomcompletlabel label {
  float: left;
  margin-right: 280px;
  display: inline;
}

/** pour que le nom et prenom (input) soit a cote**/
.nomcompletinput input {
  float: left;
  display: inline;
  margin-right: 30px;
}

.fa-regular {
  text-decoration: none;
  padding-bottom: 50px;
  padding-left: 230px;
}

.memeinput input,
textarea {
  width: 670px;
}

.soumettre input {
  width: 200px;
  text-align: center;
  background-color: black;
  border: white solid;
  mask-border-width: 10px;
}

.soumettre input:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.centrer {
  padding-left: 130px;
  padding-top: 20px;
}

/** PAGE PORTFOLIO**/

.portfolio h2 {
  margin-top: 33px;
  margin-bottom: 43px;
}

table {
  margin: auto;
}

.port {
  padding: 33px 33px 43px 33px;
  font-weight: bold;
  transition: transform 0.5s;
}

.port:hover {
  transform: translateY(-20px);
  background-color: rgba(24, 21, 18, 0.7);
  border-radius: 13px;
}

a {
  text-decoration: none;
}

/** Page contact**/

.reseaux a img {
  display: block;
  margin-top: 15px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  object-fit: cover;
}

.formulairePlainte {
  display: block;
  background-color: #d62222;
  margin-left: 600px;
  margin-right: 600px;
  margin-bottom: 333px;
}

.nomComplet label {
  display: inline;
  padding-left: 20px;
  padding-top: 20px;
}

.nomComplet input {
  display: inline;
  margin-left: 20px;
  margin-top: 20px;
}

.email {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

.sujet {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

.description {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

.date {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

/**LA PAGE TENDANCE**/

.troisparties {
  display: flex;
  width: auto;
  height: 840px;
}

.imageGauche img {
  float: left;
  margin-left: 0;
  margin-bottom: 0;
  width: 600px;
  height: 760px;
}

.imageDroite img {
  float: right;
  margin-right: 0;
  margin-bottom: 0;
  width: 600px;
  height: 760px;
}

.articleun h2 {
  padding-top: 100px;
}

.articleun p {
  width: 500px;
}

.fleches>div {
  display: inline;
}

.up img {
  height: 32px;
  width: 32px;
}

.articleun a img{
width: 42px;
height: 42px;
}
.fleches img {
  width: 22px;
  height: 22px;
}

fieldset a {
  padding-left: 230px;
}